html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family:Comic Sans MS;
  background-color: #141114;
  background-image: linear-gradient(335deg, black 23px, transparent 23px),
    linear-gradient(155deg, black 23px, transparent 23px),
    linear-gradient(335deg, black 23px, transparent 23px),
    linear-gradient(155deg, black 23px, transparent 23px);
  background-size: 58px 58px;
  background-position: 0px 2px, 4px 35px, 29px 31px, 34px 6px;
}

.wrapperStyle{
  margin-top: 10px;
  width: 40vh;
}

.App {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.controllPanel{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

@media (max-width:700px){
.animation {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.container {
  width: 35vh;
  height: 35vh;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
}

div.arrow {
  width: 6vmin;
  height: 6vmin;
  box-sizing: border-box;
}
div.arrow::before {
  content: "";
  width: 100%;
  height: 100%;
  border-width: 0.8vmin 0.8vmin 0 0;
  border-style: solid;
  border-color: #fafafa;
  transition: 0.2s ease;
  display: block;
  transform-origin: 100% 0;
}
div.arrow:after {
  content: "";
  float: left;
  position: relative;
  top: -100%;
  width: 100%;
  height: 100%;
  border-width: 0 0.8vmin 0 0;
  border-style: solid;
  border-color: #fafafa;
  transform-origin: 100% 0;
  transition: 0.2s ease;
}
div.arrow:hover::after {
  transform: rotate(45deg);
  border-color: orange;
  height: 120%;
}
div.arrow:hover::before {
  border-color: orange;
  transform: scale(0.8);
}

.controllButton{
  padding:10px 32px;
  border-radius: 20px;
  font-weight: bold;
  margin: 0 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

}

@media screen and (min-width:700px) and (max-width:5000px){
  .animation {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  
  .container {
    width: 50vh;
    height: 50vh;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
  }
  
  div.arrow {
    width: 6vmin;
    height: 6vmin;
    box-sizing: border-box;
  }
  div.arrow::before {
    content: "";
    width: 100%;
    height: 100%;
    border-width: 0.8vmin 0.8vmin 0 0;
    border-style: solid;
    border-color: #fafafa;
    transition: 0.2s ease;
    display: block;
    transform-origin: 100% 0;
  }
  div.arrow:after {
    content: "";
    float: left;
    position: relative;
    top: -100%;
    width: 100%;
    height: 100%;
    border-width: 0 0.8vmin 0 0;
    border-style: solid;
    border-color: #fafafa;
    transform-origin: 100% 0;
    transition: 0.2s ease;
  }
  div.arrow:hover::after {
    transform: rotate(45deg);
    border-color: orange;
    height: 120%;
  }
  div.arrow:hover::before {
    border-color: orange;
    transform: scale(0.8);
  }

  .controllButton{
    padding:10px 48px;
    border-radius: 20px;
    font-weight: bold;
    margin: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  }
